@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  /* --primary: #ED474A; */
  --primary: #A80938;
  --primary-light: #EA5f66;
  --primary-dark: #82072C;
  /* --secondary: #AF5D63; */
  /* --accent-1: #9C539C; */
  --accent-1: #B87276;
  /* --accent-2: #FFAD84; */
  --accent-2: #ffb9bb;
  /* --accent-3: #D876A9; */
  --accent-3: #5ABAB7;
  --theme-light-bg: rgb(249, 250, 251);
  --theme-light-bg-2: rgb(3, 7, 18);
  --theme-light-text: rgb(17, 24, 39);
  --theme-light-text-hover: rgb(17, 24, 39);
  --theme-light-text-2: rgb(249, 250, 251);
  --theme-light-text-2-hover: rgb(249, 250, 251);
  --theme-dark-bg: rgb(17, 24, 39);
  --theme-dark-bg-2: rgb(31, 41, 55);
  --theme-dark-text: rgb(249, 250, 251);
  --theme-dark-text-hover: rgb(249, 250, 251);
}

.form-select {
    background: url("public/images/down-arrow.svg") #fff no-repeat right .75rem center;
    background-size: 15px;
  }